body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125rem 1.5625rem;
    background-color: hsl(0, 0%, 98%);
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
}

.title {
    margin: 0;
    padding: 0;
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 1.125rem;
}

.desc {
    font-size: 0.6875rem;
    margin-bottom: 2.5rem;
}

h1 {
    color: hsl(234, 12%, 34%);
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 0.9375rem 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.3125rem;
    font-size: 0.59375rem;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem hsl(198, 24%, 79%);
    min-width: 19.5em;
    max-width: 20em;
}

.cards h1 {
    font-size: 0.9375rem;
    line-height: 0.625rem;
}

.cards:nth-child(1) {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}

.cc .cards:nth-child(1) {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
}

.cc .cards:nth-child(2) {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}

.cards:nth-child(3) {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}

.cards img {
    padding-top: 0.9375rem;
    width: 2.5rem;
    height: auto;
    align-self: flex-end;
}

@media (min-width: 900px) {
    

    body {
        height: 100vh;
        margin: 0;
    }

    .title {
        font-size: 2.125rem;
    }

    .desc {
        font-size: 0.875rem;
        margin-bottom: 3.125rem;
        width: 35em;
    }

    h1 {
        font-size: 2.125rem;
    }

    .cards {
        padding: 2em 2em;
        font-size: 0.75rem; 
        height: 12em;
    }

    .cards h1 {
        font-size: 1.25rem;
        line-height: 0.75rem;
    }

    .cards img {
        width: 3.125rem;
    }

    .container {
        flex-direction: row;
    }

    .cc {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
    }
}

@media (min-width: 1110px) {

    html {
        font-size: 20px;
    }
}